/vendor/

.env
.env.*
!.env.example

/storage/logs/*
!/storage/logs/.gitkeep

/storage/uploads/*
!/storage/uploads/.gitkeep

/public/uploads/products/*
!/public/uploads/.htaccess
!/public/uploads/products/.gitkeep